export TZ='Asia/Kolkata'

# silent ansible cowsay
export ANSIBLE_NOCOWS=1

# Make vim the default editor
export EDITOR="vim"

# Don’t clear the screen after quitting a manual page
export MANPAGER="less -X"

# Larger bash history (allow 32³ entries; default is 500)
export HISTSIZE=32768
export HISTFILESIZE=$HISTSIZE
export HISTCONTROL=ignoredups

# timestamps for bash history. www.debian-administration.org/users/rossen/weblog/1
# saved for later analysis
HISTTIMEFORMAT='%F %T '
export HISTTIMEFORMAT

# Make some commands not show up in history
export HISTIGNORE="ls:ls *:cd:cd -:pwd;exit:date:* --help"

# Some sane color fixes
export CLICOLOR=1
export LSCOLORS=DxGxcxdxCxegedabagacad

export LANG="en_US.UTF-8"
export LC_COLLATE="en_US.UTF-8"
export LC_CTYPE="en_US.UTF-8"
export LC_MESSAGES="en_US.UTF-8"
export LC_MONETARY="en_US.UTF-8"
export LC_NUMERIC="en_US.UTF-8"
export LC_TIME="en_US.UTF-8"
export LC_ALL=


# Let pip install the dependencies from local cache
export PIP_DOWNLOAD_CACHE=$HOME/Library/Caches/pip-downloads
export PYTHONHASHSEED=random

export PATH=~/bin:~/dotfiles/bin:$PATH
export PATH=/usr/local/bin:/usr/local/sbin:$PATH
export PATH=/usr/local/mysql/bin/:$PATH
export PATH=$PATH:$HOME/bin/ec2/bin # Add PATH to ec2 commandline tools.

# grep stuff
export GREP_OPTIONS='--color'

export PATH="/usr/local/opt/openssl/bin:$PATH"

# Adds binary executables to system path for quick usage
export PATH=$HOME/.bin:$PATH
